<html>
  <head>    
    <title>Робот-оператор</title>
  </head>
  <body>
    <div>Автоматическое опредение предметной области заявки. Версия {{version}}</div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>