{% extends "base.html" %}
{% block content %}

  
    <form action="/show" method=post>
      <dl>

        <dt>Введите описание проблемы или скопируйте письмо пользователя:
        <dd><textarea name=text rows=35 cols=150></textarea>
        <dd><input type=submit value="Обработать">
      </dl>
    </form>
{% endblock %}